##########################
# Fruit Git Ignore Files #
##########################

# node_modules - any locally installed node modules
node_modules/**/* 

# target - ignore the build
target/**/* 

# WebStorm fils
.idea

#Subversion files
.svn

# Office Temp Files
~$*